*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #000000, #1b1617, #2f2426, #443435, #5b4445, #5b4445, #5b4445, #5b4445, #443435, #2f2426, #1b1617, #000000);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    min-height: calc(100vh - 70px);
    background: rgba( 255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}